.card{
    border: 1px solid #e3af66;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
}
.card img{
    height: 300px;
}
.view{
    background-color: #e3af66;
    color: black;
}
.view:hover{
    background-color: #D99330;
}